.check-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: 2.75rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

.check-option__box {
  flex: none;
  width: 1.75em;
  height: 1.75em;
  border-left: 0.1875rem solid var(--color-outline);
  border-bottom: 0.1875rem solid var(--color-outline);
  color: var(--color-check);
}

.check-option__box svg {
  visibility: hidden;
}

input:checked + .check-option__box svg {
  visibility: visible;
}

input:focus-visible + .check-option__box {
  outline: 0.1875rem solid var(--color-outline);
  outline-offset: 0.25rem;
}
